/* Import your existing styles.css here */
/* This file will contain your global styles */

/* You can either:
   1. Copy all content from styles.css into this file
   2. Or import it: @import url('./styles.css');
*/

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
